/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
    color: white;
    font-family: open-sans, sans-serif;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

a:hover {
    letter-spacing: .2em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #151922;
    padding-top: .5em;
    padding-bottom: .5em;
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 100%;
}

#navlinks a {
    margin-left: 1em;
    margin-right: 1em;
}

main {
    padding-top: 2.5em;
    display: flex;
    height: 100%;
    max-width: 100%;
}

main #left {
    width: 60%;
    height: 100%;
    padding-left: 1em;
    padding-right: .5em;
    background-color: #151922;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main #right {
    width: 40%;
    height: 100%;
    padding-left: .5em;
    padding-right: 1em;
    background-color: #c94337;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #center {
    background-color: #151922;
    display: flex;
    width: 100%;
    height: 120%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main #center iframe {
    width: 60vw !important;
    height: 69vh !important;
    margin-top: 2em;
    margin-bottom: 4em;
    /* -webkit-box-shadow: 0px 9px 0px 21px #C94337; 
    box-shadow: 0px 9px 0px 21px #C94337; */
}

.textcontainer {
    text-align: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.textcontainer p {
    text-align: left;
}

#center .textcontainer p{
    text-align: center;
}

.image1 {
    background-color: whitesmoke;
    width: 20em;
    height: 30em;
    z-index: 1;
    margin-top: 6em;
}

.image2 {
    background-color: teal;
    width: 10em;
    height: 15em;
    z-index: 2;
    margin-left: 12em;
    margin-top: -11em
}

.title {
    background-color: red;
    width: 60%;
    height: 10%;
    text-align: center;
    margin: 40px auto 40px auto;
}


.youtube1 {
    width: 50%;
    height: 50%;
    background-color: blue;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 100%;
    height: 100%;
}


.city2 {
    background-color: red;
    width: 55%;
    height: 25%;
    text-align: center;
    margin: 40px auto 40px auto;
}

.city3 {
    background-color: red;
    width: 60%;
    height: 10%;
    text-align: center;
    margin: 40px auto 40px auto;
}

.city4 {
    background-color: red;
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 20px;
}

.city5 {
    background-color: red;
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 20px;
}