/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: open-sans, sans-serif;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

a:hover {
    letter-spacing: .2em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #151922;
    padding-top: .5em;
    padding-bottom: .5em;
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 100%;
}

#navlinks a {
    margin-left: 1em;
    margin-right: 1em;
}

main {
    padding-top: 2.5em;
    display: flex;
    height: 100%;
    max-width: 100%;
}

main #left {
    width: 60%;
    height: 100%;
    padding-left: 1em;
    padding-right: .5em;
    background-color: #151922;
}

main #right {
    width: 40%;
    height: 100%;
    padding-left: .5em;
    padding-right: 1em;
    background-color: #c94337;
}


.city1{
    background-color: red;
   width: 60%;
   height: 10%;
   text-align: center;
   margin: 40px auto 40px auto;
}


.city{
    width: 50%;
    height: 50%;
    background-color: blue;
    display: block;
  margin-left: auto;
  margin-right: auto;
}


.city2{
    background-color: red;
    width: 55%;
    height: 25%;
    text-align: center;
    margin: 40px auto 40px auto;
}

.city3{
    background-color: red;
   width: 60%;
   height: 10%;
   text-align: center;
   margin: 40px auto 40px auto;
}

.city4{
    background-color: red;
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 20px;
}

.city5{
    background-color: red;
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 20px;  
}