/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #151922;
    color: white;
    font-family: open-sans, sans-serif;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

a:hover {
    letter-spacing: .2em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #151922;
    padding-top: .5em;
    padding-bottom: .5em;
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 100%;
}

#navlinks a {
    margin-left: 1em;
    margin-right: 1em;
}

main {
    padding-top: 2.5em;
    display: flex;
    height: 100%;
    max-width: 100%;
    animation: fadein 0.5s;
}

main #left {
    width: 60%;
    height: 100%;
    padding-left: 1em;
    padding-right: .5em;
    background-color: #151922;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main #right {
    width: 40%;
    height: 100%;
    padding-left: .5em;
    padding-right: 1em;
    background-color: #c94337;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #center {
    background-color: #151922;
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main #center iframe {
    width: 60vw !important;
    height: 69vh !important;
    margin-top: 2em;
    margin-bottom: 1em;
}

main #center h2 {
    padding-bottom: 1em;
}

.textcontainer {
    text-align: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.textcontainer p {
    text-align: left;
}

#center .textcontainer {
    width: 60%;
}

#center .textcontainer p{
    text-align: center;
}

.row {
    /* illcenterthedivstomorrow */
}

.row img{
    background-color: black;
    margin: 20px;
    object-fit: cover;
    width: 25%;
    height: 50%;   
}

.image1 {
    background-color: whitesmoke;
    width: 20em;
    height: 30em;
    z-index: 1;
    margin-top: 6em;
}

.image2 {
    background-color: teal;
    width: 10em;
    height: 15em;
    z-index: 2;
    margin-left: 12em;
    margin-top: -11em
}

/* animations */
@keyframes fadein {
    0% {opacity: 0;}
    100%{opacity: 1;}}